@use 'variables';

.filter-container{
    img{
        filter: grayscale(25%);
        padding: 10px;
        width: 60px;
        height: 88px;
        
    }
}


#dark {
    .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiAccordion-root.MuiAccordion-rounded.MuiAccordion-gutters.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
        background-color: rgba(75, 75, 75, .75);
        color: variables.$gallery;
    }
}

