@use 'variables';

.link-button-wrapper {
    text-align: center;
}

.link-button {
    text-transform: uppercase;
    height: 36px;
    width: 170px;
    border-radius: 10px;
    border: none;
    margin: 1rem auto;
    background-color: variables.$mineshaft;
    color: variables.$white;

    a {
        color: variables.$white;
    }

}

.link-button:hover {
    background-color: variables.$honolulu;
}