@use 'variables';

.link-button-wrapper {
    text-align: center;
}

// .link-button {
//     text-transform: uppercase;
//     height: 36px;
//     width: 170px;
//     border-radius: 10px;
//     border: none;
//     margin: 1rem auto;
//     background-color: variables.$mineshaft;
//     color: variables.$white;

//     a {
//         color: variables.$white;
//     }

// }

// .link-button:hover {
//     background-color: variables.$honolulu;
// }



.link-button {
  font-weight: 500;
  border: none;
  display: inline-block;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  height: 36px;
  width: 170px;
  transition: all .7s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: variables.$mineshaft;
    border-radius: 10px;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: variables.$honolulu;
    transition: all .7s;
    border-radius: 10px;
    z-index: -1;
  }
  &:hover {
    color: variables.$white;
    &:before {
      width: 100%;
    }
  }
}

#dark{
    .link-button{
        color: variables.$mineshaft;
        &:after {
            background-color: variables.$gallery;
    }
        &:hover{
            color: variables.$white;
        }
}
}