@use 'variables';


.home-section{
    
    text-align: center;
    
    img{
        width: 50%;
        max-width: 250px;
        display: block;
        margin: 0 auto;
        border-radius: 10px;
        border: 2px solid variables.$honolulu;
        filter: grayscale(.99);
    }

    h1{
        margin-bottom: 0; 
    }

    .subheading{
        margin-top:0;
    }

      img:hover{
        animation: bloom ease-in-out .75s forwards;
      }
      img:hover::before {
          animation: circle .75s;
      }
      @keyframes bloom {
          0% {
              filter: grayscale(.8);
          }
          40% {
              filter: grayscale(.5);
          }
          100% {
              filter: grayscale(0);
          }
      }
      @keyframes circle {
          0% {
              opacity: .5;
          background: rgba(0,118,182,.8);
          
          }
          40% {
              opacity: 1;
          background: rgba(0,118,182,.8);
          }
          100% {
              width: 200%;
              height: 200%;
              opacity: 0;
          }
      }
}