.content-area{
    padding: 0 2rem;

    @media screen and (min-width: 800px){
        display: grid;
        grid-template-columns: minmax(30px, 1fr) minmax(420px, 1000px) minmax(30px, 1fr) 150px;

        .grid-align{
            grid-column-start: 2;
        }
    }
}

section{
    min-height: 100vh;
}

.about-section, .projects-section{
    padding: 4.75rem 0 25rem;
}



/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .grid-align {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  //this is temporary
//   img{
//     width: 95%;
//   }
