.content-area{
    padding: 0 .6rem;

    @media screen and (min-width: 700px){
        display: grid;
        grid-template-columns: 1fr minmax(420px, 1100px) 1fr 150px;

        .grid-align{
            grid-column-start: 2;
        }
    }
}

section{
    // padding-top: 3.75rem;
    min-height: 100vh;
}

.home-section, .about-section, .contact-section{
    padding-top: 3.75rem;
}



/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .grid-align {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
