@use 'variables';

.navbar{
    display: none;
    background-color: variables.$honolulu;

    // .copyright-info{
    //     p{
    //         display:none;
    //     }
    // }
    
    ul{
        list-style: none;
    }

    @media screen and (min-width: 700px){
        position:fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* z-index: 200; */
        background-color: #0076B6;
        list-style: none;
        overflow:hidden;
        -webkit-transition:width .3s linear;
        transition:width .3s linear;
        -webkit-transform:translateZ(0) scale(1,1);
        z-index:1000;
    }
}

.navbar:hover,nav.main-menu.expanded{
    width:150px;
    overflow:visible;
    }

.nav-logo{
    width: 55px;
}
