@use 'variables';
@use 'mixins' as m;

.featured-image{
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.project-image {
    width: 100%;
}

#light{
    .MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary {
        color: variables.$mineshaft;
        @include m.mui-override;
    }
    .MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected {
        color: variables.$honolulu;
        @include m.mui-override;
    }
}

#dark{
    .MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary {
        color: variables.$gallery;
        @include m.mui-override;
    }

    .MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected{
        color: variables.$cerulian;
        @include m.mui-override;
    }
}


