@use 'variables';


#light {
    color: variables.$mineshaft;
    background-color: variables.$white;
  }

  #dark {
    background-color: variables.$mineshaft;
    color: variables.$gallery;

    h1, h2{
      color: variables.$cerulian;
    }

    }
  