@use 'variables';


#light {
    color: variables.$mineshaft;
    background-color: variables.$white;

    .headerbar{
      background-color: rgba(variables.$white,.55);
    }
  }






  #dark {
    background-color: variables.$mineshaft;
    color: variables.$gallery;

    h1, h2{
      color: variables.$cerulian;
    }

    }

    .headerbar{
      background-color: rgba(variables.$mineshaft,.45);
    }
  

    .filter-item{
      padding: 0 10px;
    }