body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  h1{
    font-size: 180%;
    @media screen and (min-width:800px) {
      font-size: 250%;  
      margin-top: 0;
    }
  }
  h1,h2,h3{
    font-weight: 400;
    text-transform: uppercase;
  }
  a{
    text-decoration: none;
  }

  p{
    font-size: 90%;
  }