// colours
$honolulu: #0076B6; //rgb(0,118,182)
$cerulian: #0097E9;//rgb(0,151,233)
$fire: #B64000;//rgb(182,64,0)
$trinidad: #E95200;//rgb(233,82,0)
$white: #fff;//rgb(255,255,255)
$gallery: #eeeeee;//rgb(238,238,238)
$mineshaft: #333333;//rgb(51,51,51)

